<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>여기는 메인입니다.</h1>
  <h1>session : <%= userId %></h1>
  <span>현재 물품 수 : <%=articleCount%></span>
  <ul>
    <% for(let i=0; i<articleCount; i++) { %>
    <li><%= ARTICLE[i].OBJECT_NAME %></li>
    <li><%= ARTICLE[i].IMG_SRC %></li>
    <a href="/subMain/<%= ARTICLE[i].OBJECT_TYPE %>">이동<a>
        <br />
        <hr />
        <% } %>
        <a href="/main/myPage/<%= userId %>">마이페이지 이동</a>
  </ul>
</body>

</html>